@charset "utf-8";

/*
CSS의 구성 요소
    strong => selector
    color => property
    blue => value
*/

/*
p {
    color: blue;
    text-decoration: underline;
}
*/

strong {
    color: blue;
}

.front {
    color: red;
}

#end {
    font-weight: bold;
}

a:link {
    color: #0000ff;
}

a:visited {
    color: lightgray;
}

/* hover가 visited 위에 있을 경우, 방문했던 링크 위에 커서를 놓아도 빨간 색으로 바뀌지 않음.*/
a:hover {
    /* color: #ff0000; */
    /* rgba(r,g,b,투명도(0~1)); */
    color: rgba(255,0,0,0.5);
}

a:active {
    color: #00ff00;
}